# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.db

# Entornos virtuales
.venv/
.venv
venv/
env/
ENV/
*.env

# Archivos temporales
*.bak
*.tmp
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Compilados o empaquetados
build/
dist/
*.spec

# Archivos de usuario (VSCode, PyCharm, etc.)
.vscode/
.idea/
